*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

html, body {
    width: 100%;
    height: 100%;
    background-color:floralwhite;
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-end; 
    padding: 20px;
    font-size: 20px;
    gap: 5px;
}

nav > h3 {
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

#title-1 {
    font-size:125px;
    line-height: 125px;
    padding: 30px;
}

#loc-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.img-mc {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

#about-me {
    height: 60vh;
    display: flex;
    align-items: center;
}

#left {
    font-size: 70px;
    max-width: 70%;
    line-height: 100px;
    padding: 0px 30px;
    border-right: 2px solid black;
}

#right {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin: 30px;
}

#socials > i{
    font-size: 25px;
    color: white;
    margin: 0px 5px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

#work-section {
    height: 60vh;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0px 30px;
}

#work-left {
    width: 30%;
    height: 80%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    border-right: 2px solid black;
}

#work-right {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-right-part {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.work-right-part:nth-child(1) {
    padding-bottom: 30px;
    border-bottom: 2px solid black; 
}

.work-right-part .work-card:nth-child(1) {
    border-right: 2px solid black;
}

.work-card {
    width: 50%;
    font-size: 20px;
    padding: 0px 40px;
}

.work-card h3 {
    font-size: 45px;
}

#rand {
    display: flex;
    justify-content: space-around;
}

#rand h2 {
    font-size: 80px;
    padding: 30px 0px;
}